{{ $seoProfile := .Site.Data.profile.search_engine_optimization }}
{{ $logo := .Site.Data.design.logo_and_title.logo }}
{{ $pageConfigSeo := .Site.Data.pageconfig }}

<!-- OPEN GRAPH -->
    <meta property="og:url" content="{{ .Permalink }}" />
{{ if $.IsHome }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $seoProfile.title_tag }}" />
    <meta property="og:description" content="{{ $seoProfile.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/contact/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.contact_page.search_engine_optimization.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.contact_page.search_engine_optimization.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/about/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.about_page.search_engine_optimization.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.about_page.search_engine_optimization.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/products/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.products_page.search_engine_optimization.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.products_page.search_engine_optimization.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/services/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.service_page.search_engine_optimization.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.service_page.search_engine_optimization.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else if eq .RelPermalink "/blog/" }}
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:title" content="{{ $pageConfigSeo.blog_page.search_engine_optimization.title_tag }}" />
    <meta property="og:description" content="{{ $pageConfigSeo.blog_page.search_engine_optimization.meta_description }}" />
    <meta property="og:type" content="website" />
{{ else }}
    <meta property="og:image" content="{{ if .Params.images }}{{ index .Params.images 0 |absURL }}{{ else }}{{ .Params.featured_image | absURL }}{{ .Params.banner_image }}{{ end }}">
    <meta property="og:title" content="{{ if $.Params.search_engine_optimization.title_tag }}{{ $.Params.search_engine_optimization.title_tag }}{{ else }}{{ $.Params.search_engine_optimization.search_engine_optimization.title_tag }}{{ end }}" />
    <meta property="og:description" content="{{ if $.Params.search_engine_optimization.meta_description }}{{ $.Params.search_engine_optimization.meta_description }}{{ else }}{{ $.Params.search_engine_optimization.search_engine_optimization.meta_description }}{{ end }}" />
    <meta property="og:type" content="{{ if .Params.featured_image }}article{{ else }}website{{ end }}" />
{{ end }}
<!-- END OPEN GRAPH -->

<!-- BEGIN SEO -->
{{ if $.IsHome }}
    <title>{{ $seoProfile.title_tag }}</title>
    <meta name="description" content="{{ $seoProfile.meta_description }}">
{{ else if eq .RelPermalink "/contact/" }}
    <title>{{ $pageConfigSeo.contact_page.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.contact_page.search_engine_optimization.meta_description }}">
{{ else if eq .RelPermalink "/about/" }}
    <title>{{ $pageConfigSeo.about_page.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.about_page.search_engine_optimization.meta_description }}">
{{ else if eq .RelPermalink "/products/" }}
    <title>{{ $pageConfigSeo.products_page.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.products_page.search_engine_optimization.meta_description }}">
{{ else if eq .RelPermalink "/services/" }}
    <title>{{ $pageConfigSeo.faq_page.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.faq_page.search_engine_optimization.meta_description }}">
{{ else if eq .RelPermalink "/blog/" }}
    <title>{{ $pageConfigSeo.blog_page.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $pageConfigSeo.blog_page.search_engine_optimization.meta_description }}">
{{ else }}
    <title>{{ $.Params.search_engine_optimization.title_tag }}{{ $.Params.search_engine_optimization.search_engine_optimization.title_tag }}</title>
    <meta name="description" content="{{ $.Params.search_engine_optimization.meta_description }}{{ $.Params.search_engine_optimization.search_engine_optimization.meta_description }}">
{{ end }}