<div class="column">
      <div class="box">
        <h2 class="subtitle is-6">Blog Categories</h2>
          <ul>
              {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <li>
              <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/categories{{ $name | urlize | relURL }}" class="secondary-btn">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
            </li>
            {{else}}
            <p>No blog categories just yet</p>
            {{ end }}
  
          </ul>
      </div>
      <div class="box">
          <h2 class="subtitle is-6">Latest Posts<h2>
  
          {{ range  first 4 ( where $.Site.RegularPages "Type" "blog") }}
          <article class="media">
              {{ if .Params.featured_image }}
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="{{ .Params.featured_image }}" alt="Image">
                </figure>
              </div>
              {{end}}
              <div class="media-content">
                <div class="content">
                    <h1 class="title is-6" style="margin: 0;">{{ .Params.title }}</h1>
                    <time><small>{{.Date.Format "Jan 2, 2006" }}</small></time><br>
                    <a href="{{ .Permalink }}" class="secondary-btn">Continue Reading</a>
              </div>
          </article>
          {{else}}
          <p>No blog posts just yet</p>
          {{ end }}
      </div>
  </div>