{{ define "main" }}
<div class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-8">
        <main>
          <div class="inner-container">
            {{ if .Params.heading }}<h1 class="title is-4 has-text-left">{{ .Params.heading }}</h1>{{ end }}
            <div class="form-container">
              <form name="contact page form" method="POST" data-netlify="true" netlify-honeypot="bot-field"
                class="contact-page mt-6">
                <input name="bot-field" type="hidden" />
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded">
                        <input class="input" type="text" placeholder="First Name" name="first name" required>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" placeholder="Last Name" name="last name">
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Phone" name="phone" required>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="Email" name="email address" required>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
                  </div>
                </div>
                <div class="control">
                  <button class="button">Submit</button>
                </div>
                <div class="field mt-5">
                  <div class="control content">
                    <label class="checkbox">
                      <input type="checkbox" required name="consent">
                      <span class="is-size-7">By submitting this form you confirm you have read and agreed to our <a
                          href="/legal/terms-and-conditions">Terms and Conditions</a> and <a
                          href="/legal/privacy-policy">Privacy Policy.</a> You consent to having this website store the
                        submitted information so we can respond to the inquiry. Don't worry, you can request to have
                        your information removed anytime.</span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
      {{ partial "templates/contact-sidebar" . }}
    </div>
  </div>
</div>

{{ end }}